.login_area {
  padding-top: 90px;
}
.login_form {
 
  margin-top: 100px;
  max-width: 500px;
  margin: 100px auto;
}
.login_form h2 {
  text-transform: uppercase;
  font-size: 34px;
  color: #f36b37;
  margin-bottom: 30px;
}
.login_area img {
  width: 100%;
}
.login_form input {
  padding: 15px;
  border: 1px solid rgb(209, 209, 209);
}
.login_form .dropdown_btn {
  background-color: transparent;
  padding: 0 10px;
}
.login_form button,
.login_area input[type="text"]:focus {
  box-shadow: none;
  border: 1px solid rgb(209, 209, 209);
}
.select_country {
  padding: 5px 10px;
}
.login_alert {
  color: #17b6dd;
}
.login_btn {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
  text-transform: uppercase;
  background-color: #f36b37;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  margin: 10px 0;
}
.agree a {
  text-decoration: none;
}
.agree span {
  color: #f3708b;
  margin-left: 10px;
}
